/* VARIABLES */

:root {
	/* layout */
	--cf-width-full: 100vw;
	--cf-unit: calc( var( --cf-width-full ) / 192 );
	--cf-col-half: calc( var( --cf-width-full ) / 24 );
	--cf-col-1: calc( var( --cf-width-full ) / 12 );
	--cf-col-2: calc( var( --cf-width-full ) / 6 );
	--cf-col-3: calc( var( --cf-width-full ) / 4 );
	--cf-col-4: calc( var( --cf-width-full ) / 3 );
	--cf-col-5: calc( var( --cf-width-full ) / 12 * 5 );
	--cf-col-6: calc( var( --cf-width-full ) / 2 );
	--cf-col-7: calc( var( --cf-width-full ) / 12 * 7 );
	--cf-col-8: calc( var( --cf-width-full ) / 3 * 2 );
	--cf-col-9: calc( var( --cf-width-full ) / 4 * 3 );
	--cf-col-10: calc( var( --cf-width-full ) / 6 * 5 );
	--cf-col-11: calc( var( --cf-width-full ) / 12 * 7 );
	--cf-col-12: var( --cf-width-full );
	--cf-top: calc(50vh - var( --cf-col-1 ) * 2.25 );

	/* colour */
	--cf-color-black: #000;
	--cf-color-darker: #222;
	--cf-color-darker-75: #222222C0;
	--cf-color-darker-50: #22222280;
	--cf-color-medium: #888;
	--cf-color-lighter: #CCC;
	--cf-color-white: #FFF;
}

/* Ultrawide */
@media (min-aspect-ratio: 192/90) {
	:root {
		--cf-width-full: calc(100vh / 90 * 192);
	}
}

/* Tablet (square to narrow) */
@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 1/1) {
	:root {
		--cf-width-full: calc(100vh / 4 * 3);
		--cf-unit: calc( var( --cf-width-full ) / 76.8 );
		--cf-top: calc(50vh - var( --cf-col-1 ) * 5.5 );
	}
}

/* Mobile (narrow) */
@media (max-aspect-ratio: 2999999/4000000) {
	:root {
		--cf-unit: calc( var( --cf-width-full ) / 37.5 );
		--cf-top: calc( var( --cf-col-1 ) * 6.5 );
	}
}


/* GLOBAL */

:root {
	color: var( --cf-color-darker );
	font-family: 'Kanit', sans-serif;
}


/* ELEMENTS */

a {
	color: var( --cf-color-darker );
	text-decoration: none;
}
a:visited {
	color: var( --cf-color-darker );
}

body {
	margin: 0 auto;
	overflow-x: hidden;
	padding: 0;
	position:  relative;
	width: var( --cf-width-full );
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

nav {
	right: var( --cf-col-1 );
	position:  absolute;
	width: var( --cf-col-1 );
	top: var( --cf-top );
	z-index: 10;
}

nav a {
	color: var( --cf-color-darker-50 );
	display: block;
	font-size: calc( var( --cf-unit ) * 2 );
	font-weight: 300;
	letter-spacing: 0.15em;
	line-height: 0.7em;
	margin: 0 0 2em 0;
	text-align: right;
	text-transform: uppercase;
}
nav a:hover,
body.home-active nav a[href='#home'],
body.about-active nav a[href='#about'],
body.portfolio-active nav a[href='#portfolio'],
body.contact-active nav a[href='#contact'] {
	color: var( --cf-color-darker );
	font-weight: normal;
}

p {
	color: var( --cf-color-darker-75 );
	margin: 0;
}


/* CLASSES */

.page-content {
	width: 100%;
	position: relative;
	z-index: 0;
}
body.home-active .home-content,
body.about-active .about-content,
body.portfolio-active .portfolio-content,
body.contact-active .contact-content {
	transition: transform 0.25s ease, opacity 0.25s ease, visibility 0.25s step-start;
}
body.home-active .about-content,
body.home-active .portfolio-content,
body.home-active .contact-content,
body.about-active .home-content,
body.about-active .portfolio-content,
body.about-active .contact-content,
body.portfolio-active .home-content,
body.portfolio-active .about-content,
body.portfolio-active .contact-content,
body.contact-active .home-content,
body.contact-active .about-content,
body.contact-active .portfolio-content {
	opacity: 0;
	transition: transform 0.25s ease, opacity 0.25s ease, visibility 0.25s step-end;
	visibility: hidden;
}
body.home-active .about-content,
body.home-active .portfolio-content,
body.home-active .contact-content,
body.about-active .portfolio-content,
body.about-active .contact-content,
body.portfolio-active .contact-content {
	transform: translateX(0.5%);
}
body.about-active .home-content,
body.portfolio-active .home-content,
body.portfolio-active .about-content,
body.contact-active .home-content,
body.contact-active .about-content,
body.contact-active .portfolio-content {
	transform: translateX(-0.5%);
}

.intro-graphic {
	display: flex;
	justify-content: space-between;
	left: var( --cf-col-2 );
	position: absolute;
	width: var( --cf-col-3 );
	top: var( --cf-top );
	z-index: 1;
}
.c-graphic {
	width: var( --cf-col-1 );
}
.intro-text {
	font-size: calc( var( --cf-unit ) * 11.5 );
	letter-spacing: 0.04em;
	line-height: 0.7em;
	text-transform: uppercase;
	transform: translateY( -1%) scale(1.02);
}

.design-text {
	color: var( --cf-color-lighter );
	left: calc( var( --cf-col-1 ) / 3);
	font-size: calc( var( --cf-unit) * 50 );
	font-weight: 100;
	line-height: 0.6em;
	position: absolute;
	text-transform: uppercase;
	top: calc( var( --cf-top ) + var( --cf-col-1) * 1.7 );
	z-index: 0;
}
.design-text .force-dark-text {
	color: var( --cf-color-darker );
}

.primary-text {
	color: var( --cf-color-darker-75 );
	font-size: calc( var( --cf-unit) * 2.5 );
	font-weight: 200;
	letter-spacing: 0.05em;
	line-height: 1.15em;
}
.primary-text h2 {
	color: var( --cf-color-darker-75 );
	font-size: calc( var( --cf-unit) * 2.5 );
	font-weight: 400;
	letter-spacing: 0.15em;
	line-height: 1.15em;
	margin-bottom: 1.2em;
}
.primary-text p {
	margin-bottom: 1.2em;
}
.primary-text p strong {
	font-weight: 400;
}

.home-blurb {
	left: var( --cf-col-6 );
	position: absolute;
	width:  var( --cf-col-3 );
	top: var( --cf-top );
}


.about-graphic {
	left: var( --cf-col-2 );
	position: absolute;
	top: var( --cf-top );
}
.about-text-top, .about-text-bottom {
	display: flex;
	font-size: calc( var( --cf-unit ) * 12 );
	height: var( --cf-col-2 );
	justify-content: flex-end;
	line-height: 0.64em;
	text-transform: uppercase;
	width: var( --cf-col-3 );
}
.about-graphic span {
	display: inline-block;
	transform: translateY(-4.5%);
}
.about-text-top {
	align-items: flex-end;
	background-color: var( --cf-color-darker );
	color: var( --cf-color-white );
}
.about-text-bottom {
	align-items: flex-start;
	border: calc( var( --cf-unit) / 5 ) solid var( --cf-color-darker );
	border-top: none;
	box-sizing: border-box;
	position: absolute;
	top: var( --cf-col-2 );
}
.about-text-bottom span {
	transform: translateY(-4.5%) translateX(calc( var( --cf-unit) / 5 ));
}

.about-blurb {
	left: var( --cf-col-6 );
	position: absolute;
	width:  var( --cf-col-3 );
	top: calc( var( --cf-top ) + var( --cf-col-1 ) );
}


.portfolio-items {
	display: flex;
	justify-content: space-between;
	left: var( --cf-col-2 );
	position: absolute;
	top: var( --cf-top );
	width: var( --cf-col-7 );
}
.portfolio-item {
	border: calc( var( --cf-unit ) / 5 ) solid var( --cf-color-medium );
	box-sizing: border-box;
	flex-grow: 0;
	flex-shrink: 0;
	height: calc( var( --cf-col-1 ) * 3.25 );
	position: relative;
	width: var( --cf-col-2 );
}
.portfolio-item::before {
	background-position: center;
	background-size: cover;
	bottom: calc( var( --cf-unit ) * 3 );
	content: "";
	left: calc( var( --cf-unit ) * 3 );
	position: absolute;
	right: calc( var( --cf-unit ) * 3 );
	top: calc( var( --cf-unit ) * 3 );
}
.portfolio-item.portfolio-mtsrec::before {
	background-image: url("../assets/img/mtsrec-bg.jpg");
}
.portfolio-item.portfolio-g8::before {
	background-image: url("../assets/img/g8-bg.jpg");
}
.portfolio-item.portfolio-pynsw::before {
	background-image: url("../assets/img/pynsw-bg.jpg");
}
.portfolio-item::after {
	background-position: center top;
	background-repeat: no-repeat;
	background-size: calc( var( --cf-unit ) * 12 );
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: var( --cf-col-1 );
}
.portfolio-item.portfolio-mtsrec::after {
	background-image: url("../assets/svg/mtsrec.svg");
	background-size: calc( var( --cf-unit ) * 18 );
}
.portfolio-item.portfolio-g8::after {
	background-image: url("../assets/svg/g8.svg");
}
.portfolio-item.portfolio-pynsw::after {
	background-image: url("../assets/svg/pynsw.svg");
}


.copyright {
	align-items: center;
	top: calc(100% - var( --cf-col-half ) * 0.8 - var( --cf-unit ) * 3.4 );
	display: flex;
	justify-content: flex-end;
	position: absolute;
	right: var( --cf-col-half );
}
.copyright-text {
	color: var( --cf-color-darker-75 );
	font-size: calc( var( --cf-unit ) * 1.5 );
	font-weight: 300;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
.copyright-c {
	font-family: sans-serif;
	font-size: 0.95em;
}
.copyright-logo {
	margin-left: var( --cf-unit );
	width: calc( var( --cf-unit ) * 3 );
}



/* RESPONSIVE */

/* Ultrawide */
@media (min-aspect-ratio: 192/90) {
	
}

/* Tablet (square to narrow) */
@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 1/1) {
	nav {
		display:  flex;
		justify-content: center;
		right: 0;
		top: calc( var( --cf-unit ) * 6 );
		width: 100%;
	}
	nav a {
		font-size: calc( var( --cf-unit ) * 1.8 );
		margin: 0 1.5em;
	}

	body.home-active .about-content,
	body.home-active .portfolio-content,
	body.home-active .contact-content,
	body.about-active .portfolio-content,
	body.about-active .contact-content,
	body.portfolio-active .contact-content {
		transform: translateX(1%);
	}
	body.about-active .home-content,
	body.portfolio-active .home-content,
	body.portfolio-active .about-content,
	body.contact-active .home-content,
	body.contact-active .about-content,
	body.contact-active .portfolio-content {
		transform: translateX(-1%);
	}

	.intro-graphic {
		left: var( --cf-col-3 );
		width: var( --cf-col-6 );
	}
	.c-graphic {
		width: var( --cf-col-2 );
	}
	.intro-text {
		font-size: calc( var( --cf-unit ) * 9 );
	}

	.design-text {
		left: 0;
		font-size: calc( var( --cf-unit) * 21 );
		top: calc( var( --cf-top ) + var( --cf-col-1) * 3.5 );
	}

	.primary-text, .primary-text h2 {
		font-size: calc( var( --cf-unit) * 2.2 );
	}

	.home-blurb {
		left: var( --cf-col-2 );
		width:  var( --cf-col-8 );
		top: calc( var( --cf-top ) + var( --cf-col-1) * 7 );
	}


	.about-graphic {
		left: var( --cf-col-1 );
		position: absolute;
		top: var( --cf-top );
	}
	.about-text-top, .about-text-bottom {
		font-size: calc( var( --cf-unit ) * 12 );
		height: calc( var( --cf-col-1 ) * 2.25);
		width: var( --cf-col-10 );
	}
	.about-text-top {
		justify-content: flex-start;
	}
	.about-text-bottom {
		top: calc( var( --cf-col-1 ) * 2.25);
	}

	.about-blurb {
		left: var( --cf-col-2 );
		width: var( --cf-col-8 );
		top: calc( var( --cf-top ) + var( --cf-col-1) * 6 );
	}


	.portfolio-items {
		flex-direction: column;
		margin-top: calc( var( --cf-col-1 ) * -0.25 );
		width: var( --cf-col-8 );
	}
	.portfolio-item {
		border-width: calc( var( --cf-unit ) / 3 );
		height: calc( var( --cf-col-1 ) * 13);
		margin: calc( var( --cf-col-1 ) * -4.5 ) 0;
		transform: rotateX(60deg) rotateZ(-45deg) scale(0.6);
		width: 100%;
	}
	.portfolio-item::before {
		bottom: calc( var( --cf-unit ) * 5 );
		left: calc( var( --cf-unit ) * 5 );
		right: calc( var( --cf-unit ) * 5 );
		top: calc( var( --cf-unit ) * 5 );
	}
	.portfolio-item::after {
		background-size: calc( var( --cf-unit ) * 16 );
		top: var( --cf-col-4 );
	}
	.portfolio-item.portfolio-mtsrec::after {
		background-size: calc( var( --cf-unit ) * 24 );
	}


	.copyright {
		top: calc( 100% - var( --cf-col-half ) * 0.8 - var( --cf-unit ) * 3.4 );
		right: var( --cf-col-half );
	}
}

/* Mobile (narrow) */
@media (max-aspect-ratio: 2999999/4000000) {
	nav {
		right: calc( var( --cf-col-1 ) * 1 );
		top: calc( var( --cf-col-1 ) * 1 );
		width: var( --cf-col-4 );
	}
	nav a {
		font-size: calc( var( --cf-unit ) * 1.8 );
		margin: 0 0 1.5em 0;
	}

	body.home-active .about-content,
	body.home-active .portfolio-content,
	body.home-active .contact-content,
	body.about-active .portfolio-content,
	body.about-active .contact-content,
	body.portfolio-active .contact-content {
		transform: translateY(calc( var( --cf-unit ) * 0.5 ));
	}
	body.about-active .home-content,
	body.portfolio-active .home-content,
	body.portfolio-active .about-content,
	body.contact-active .home-content,
	body.contact-active .about-content,
	body.contact-active .portfolio-content {
		transform: translateY(calc( var( --cf-unit ) * -0.5 ));
	}

	.intro-graphic {
		left: var( --cf-col-1 );
		width: var( --cf-col-10 );
	}
	.c-graphic {
		width: calc( var( --cf-col-10 ) / 3 );
	}
	.intro-text {
		font-size: calc( var( --cf-unit ) * 7.5 );
	}

	.design-text {
		left: auto;
		right: 0;
		font-size: calc( var( --cf-unit) * 20 );
		line-height: 0.7em;
		text-align: right;
		top: calc( var( --cf-top ) + var( --cf-col-1) * 5.5 );
		transform: translateX(2.25%);
	}

	.primary-text, .primary-text h2 {
		font-size: calc( var( --cf-unit) * 1.7 );
	}

	.home-blurb {
		left: var( --cf-col-1 );
		width:  var( --cf-col-10 );
		top: calc( var( --cf-top ) + var( --cf-col-1) * 16 );
	}


	.about-graphic {
		display:  none;
	}

	.about-blurb {
		left: var( --cf-col-1 );
		width:  var( --cf-col-10 );
		top: calc( var( --cf-top ) + var( --cf-col-half) );
	}


	.portfolio-items {
		flex-direction: column;
		margin-top: calc( var( --cf-col-1 ) * -1.5 );
		width: var( --cf-col-8 );
	}
	.portfolio-item {
		border-width: calc( var( --cf-unit ) / 3 );
		height: calc( var( --cf-col-1 ) * 13);
		margin: calc( var( --cf-col-1 ) * -4.25 ) 0;
		transform: rotateX(60deg) rotateZ(-45deg) scale(0.675);
		width: 100%;
	}
	.portfolio-item::before {
		bottom: calc( var( --cf-unit ) * 2.5 );
		left: calc( var( --cf-unit ) * 2.5 );
		right: calc( var( --cf-unit ) * 2.5 );
		top: calc( var( --cf-unit ) * 2.5 );
	}
	.portfolio-item::after {
		background-size: calc( var( --cf-unit ) * 10 );
		top: var( --cf-col-4 );
	}
	.portfolio-item.portfolio-mtsrec::after {
		background-size: calc( var( --cf-unit ) * 15 );
	}


	.copyright {
		right: var( --cf-col-1 );
		padding-bottom: var( --cf-col-1 );
	}
	body.home-active .copyright {
		top: calc( var( --cf-top ) + var( --cf-col-1) * 24 );
	}
	body.about-active .copyright {
		top: calc( var( --cf-top ) + var( --cf-col-1) * 11 );
	}
	body.portfolio-active .copyright {
		top: calc( var( --cf-top ) + var( --cf-col-1) * 13 );
	}
	.copyright-text {
		font-size: calc( var( --cf-unit ) * 1.2 );
	}
	.copyright-logo {
		margin-left: var( --cf-unit );
		width: calc( var( --cf-unit ) * 2.5 );
	}
}

@media (min-aspect-ratio: 3/4) {
	.mobile-only {
		display:  none !important;
	}
}