/* VARIABLES */

:root {
	/* layout */
	--cf-width-full: 100vw;

	/* colour */
	--cf-color-black: #000;
	--cf-color-darker: #222;
	--cf-color-darker-75: #222222C0;
	--cf-color-darker-50: #22222280;
	--cf-color-medium: #888;
	--cf-color-lighter: #CCC;
	--cf-color-lightest: #EEE;
	--cf-color-white: #FFF;

	/* font */
	--cf-font-size: 8;
}


/* GLOBAL */

:root {
	color: var( --cf-color-darker );
	font-family: 'Kanit', sans-serif;
}


/* ELEMENTS */

html, body {
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
	max-width: 600px;
	height: 100%;
	align-items: center;
	background-color: var( --cf-color-lightest );
	display: flex;
	flex-direction: column;
}

.button-group, .member-info {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.button-group button {
	flex-grow: 1;
}

#member-name {
	flex-grow: 1;
}

.notes-box {
	width: 100%;
	height: 150px;
	resize: vertical;
	flex-shrink: 0;
}

#checklist {
	margin: 20px 0px;
}

#notes-archive {
	width: 100%;
}

.archived-note {
	background-color: var( --cf-color-lighter );
	margin-top: 30px;
	border-radius: 5px;
	padding: 10px;
}

.collapsible-container {
	width: 100%;
}

#schedule-section {
	margin-bottom: 20px;
}

.tabs-headings {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.tabs-headings button {
	flex-grow: 1;
}

.tabs-container {
	width: 100%;
}

.tab-content {
	display: none;
	width: 100%;
}

.tab-content.tab-active {
	display: block;
}

table {
	width: 100%;
}

td, th {
	text-align: center;
}
td:first-of-type, th:first-of-type {
	text-align: left;
}