/* VARIABLES */

:root {
	/* layout */
	--cf-width-full: 100vw;

	/* colour */
	--cf-color-black: #000;
	--cf-color-darker: #222;
	--cf-color-darker-75: #222222C0;
	--cf-color-darker-50: #22222280;
	--cf-color-medium: #888;
	--cf-color-lighter: #CCC;
	--cf-color-lightest: #EEE;
	--cf-color-white: #FFF;

	--cf-color-bg: var(--cf-color-lightest);
	--cf-color-text: var(--cf-color-darker);

	/* font */
	--cf-font-size: 8;
}

/* DARK THEME */
@media (prefers-color-scheme: dark) {
	:root {
		--cf-color-bg: var(--cf-color-darker);
		--cf-color-text: var(--cf-color-lighter);
	}
}


/* GLOBAL */

:root {
	color: var( --cf-color-text );
	font-family: 'Kanit', sans-serif;
}


/* ELEMENTS */

html, body {
	margin: 0;
	padding: 0;
}

body {
	align-items: center;
	background-color: var( --cf-color-bg );
	display: flex;
	justify-content: center;
}

nav {
	display: flex;
	flex-direction: row;
}

nav:focus-visible {
    outline: none;
}

a, a:visited {
	color: inherit;
	text-decoration: none;
}

.nav-category {
	display: flex;
	flex-direction: column;
	padding: 0px 80px;
}

.nav-category-inner {
	display: flex;
	flex-direction: column;
	padding: 0;
}

.nav-category-heading {
	color: var( --cf-color-medium );
	cursor: default;
	letter-spacing: 0.125em;
	margin-bottom: 3em;
	text-transform: uppercase;
}

.nav-link {
	display: flex;
	font-weight: 300;
	letter-spacing: 0.075em;
	/* transition: opacity 0.2s ease-in-out 0.25s; */
}

.nav-link:not(:last-child) {
	margin-bottom: 2em;
}

nav:is(:has(.nav-category-inner:hover)) .nav-link:not(:hover) {
	opacity: 0.4;
	/* transition: opacity 0.2s ease-in-out 0s; */
}