html, body, main {
	margin: 0;
	overflow-x: hidden;
	padding: 0;
}

main {
	align-items: center;
	display: flex;
	flex-direction: row;
	height: 100vh;
}

.team-section {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	font-size: 8cqw;
	gap: 20px;
	height: 100%;
	justify-content: center;
}

.minus-button, .plus-button {
	background: none;
	border: none;
	font-size: inherit;
}

.team-score, .team-name {
	text-align: center;
}

.team-name {
	font-size: 0.65em;
}

.buttons-container {
	display:flex;
	flex-direction: row;
	justify-content: center;
}

.left-button, .right-button {
	background: none;
	border: none;
	font-size: 0.6em;
}